.header{
    width: 100%;
    height: 90px;
    position: fixed;
}
.container {
    height: 100%;
    padding: 10px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    flex-basis: 20%;
    height: 150px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.logo img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.links-wrapper{
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
nav ul li{
    display: inline-block;
    width: 67px;
    color: #0a024b;
    transition: color 0.8s
}
nav ul li:hover{
    color: #160498;
}
nav ul li a{
    font-family: "Kanit", serif;
    font-size: 1.05em;
    text-decoration: none;
    transition: transform 0.8s ease;
}
nav ul li a:hover{
    transform: scale(1.05);
    color: #3b94b7;
}
nav ul li a i{
    font-size: 1.4em;
}
nav button{
    background-color: #699fc9;
    color: #f9f9f9;
    width: 190px;
    padding: 15px 6px;
    font-family: "Kanit", serif;
    border: none;
    border-radius: 5px;
    transition: 0.6s;
}
nav button:hover{
    background-color: #3b94b7;
}