.service-section{
    background-color: #e6eef1;
}
.service-wrapper {
    display: grid; 
    grid-template-columns: 1fr; 
}

.serve {
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    transition: o.5s;
}
.serve:hover{
    background-color:rgba(175, 214, 222, 0.3);;
}
.serve-col {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.serveimg{
    height: 600px;
    width: 100%;
    overflow: hidden;
}
.serveimg img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    display: block;
}
.discover-btn{
    border-color: #0c3f66;
    color: #0c3f66;
    transition: 0.5s;
}
.discover-btn:hover{
    background-color: #0c3f66;
    color: #f7fdff;
}
.service-testimony{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.testimonials .container{
    padding: 5px 4%;
}
.test-wrap{
    width: 100%;
}
.test-wrap h1{
    font-family: "Reddit Sans Condensed", serif;
    margin: 12px 0 40px;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}
.test-wrap p{
    text-align: center;
    color: #235a84;
    font-family: "Forum", serif;
    font-size: 1.7em;
    margin-bottom: 27px;
    margin-top: 55px;
}
.service-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
}
.service-card{
    width: 350px;
    height: 340px;
    padding: 5px 10px 14px;
    text-align: left;
    transition: 0.5s;
}
.service-card:hover{
    background-color: #f7fdff;
}
.service-img{
    height: 50%;
    width: 100%;
}
.service-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.service-card h3{
    font-family: "Forum", serif;
    font-size: 1.4em;
    color: #235a84;
    margin: 15px 0;
}
.service-card p{
    font-family: "Reddit Sans Condensed", serif;
    margin: 15px 0;
    font-size: 1.05em;
}
.service-card a{
    padding:10px 5px;
    font-family: "Reddit Sans Condensed", serif;
    margin: 20px 0;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: #4e9ab8;
    transition: 0.5s;
}
.service-card a:hover{
    color: #235a84;
}
.service-card a i{
    color: #4e9ab8;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .serve {
        grid-template-columns: 1fr; /* Stack columns on small screens */
        text-align: center;
    }
}
